html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(255, 200, 250);
    font-family: Arial, Helvetica, sans-serif;
}

.about {
    text-align: center;
}

.archive-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.archive-grid a, .award-container a, .featured-level-container a {
    text-decoration: none;
}

.archive-grid-title {
    grid-column: span 3;
    font-weight: bold;
    color: black;
    justify-self: center;
}

.archive-item {
    background-color: black;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border: 4px solid orange;
    height: 250px;
    width: 90%;
    margin: 10px;
}

.archive-item-text {
    color: orange;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.award-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.award-container {
    margin: 0px;
    text-align: center;
    align-content: center;
}

.featured-level-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.level-banner-container {
    border: 1px solid black;
    background-color: black;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
    height: 200px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: orange;
}

.level-banner-stats {
    display: inline;
}

#level-content {
    padding: 20px;
}

#search-box-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#site_header {
    background-color: purple;
    color: orange;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#site_header a {
    text-decoration: none;
    color: orange;
}

#active-nav-link a {
    text-decoration: underline;
    color: red;
}

#site_title {
    line-height: 5px;
    flex-grow: 1;
}

#site_nav {
    flex-grow: 5;
    display: flex;
    justify-content: space-around;
}
