body {
    background-color: rgb(255, 200, 250);
    font-family: Arial, Helvetica, sans-serif;
}

.archive-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5% 5px%;
}

.archive-item {
    justify-self: space-around;
    justify-content: center;
    background-color: black;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 200px;
    width: 300px;
}

.archive-item-text {
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.featured-level-container {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}

.featured-level {
    width: 45%;
    height: 100%;
    border: 1px dotted red;
    display: inline-block;
}

.level-banner-container {
    border: 1px solid black;
    background-color: black;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
    height: 200px;
    font-weight: bold;
}

.level-banner-stats {
    display: inline;
}

.site_header {
    display: flex;
    align-items: center;
}

.site_nav {
    margin-right: 20%;
}
