---
title: Ah, Chive! ☘️
permalink: "/archive"
---
{% assign sorted_levels = site.levels | sort: "chron_order" %}
<div class="archive-grid">
    <h1 class="archive-grid-title">{{sorted_levels.first.hub}}</h1>
    {% assign previous_hub = sorted_levels.first.hub %} 
    {% for item in sorted_levels %}
        {% assign current_hub = item.hub %}
        {% if current_hub != previous_hub %}
            </div><br>
            <div class="archive-grid"> 
                <h1 class="archive-grid-title">{{current_hub}}</h1> 
        {% endif %}
        <a href="{{item.url}}">
            <div class="archive-item" style='background-image: url({{item.image_path | relative_url}})'>
                <h3 class="archive-item-text">{{item.title}}</h3>
                <h4 class="archive-item-text">{{item.score}} / 5</h4>
            </div>
        </a>
        {% assign previous_hub = current_hub %}
    {% endfor %}
</div>
