---
title: Awards
permalink: "/awards"
---
<h1 style="text-align: center;">Awards</h1>
<div class="award-container-grid">
    {% for award_item in site.awards %}
        <div class="award-container">
            <h3>{{award_item.title}}</h3>
            <p>{{award_item.content}}</p>
            {% assign match_array = site.levels | where: "title", award_item.level_name %}
            {% assign level = match_array.first %}
            {% include featured_item.html url=level.url title=level.title image_path=level.image_path%}
        </div>
    {% else %}
        <h1>There are no awards!</h1>
    {% endfor %}
</div>