<header id='site_header'>
    <div id='site_title'>
        <a href='/index'>
            <h1>Ripto's Rankings</h1>
            <h4>Every level in Spyro 2, ranked</h4>
        </a>
    </div>
    <div id='site_nav'>
        {% include site_header_link.html url='/about' text="About" %}
        {% include site_header_link.html url='/archive' text="All Levels" %}
        {% include site_header_link.html url='/awards' text="Awards" %}
        {% include site_header_link.html url='/search' text="Search" %}
        {% include site_header_link.html url='/contact' text="Contact" %}
        {% include site_header_link.html url='/testing' text="Tests" %}
    </div>
</header>
