<html>
    <head>
        <title>{{ page.title }}</title>
        <link href='{{ "css/styles.css" | relative_url }}' type='text/css' rel='stylesheet'>
        <link href='{{ "css/predefined-styles.css" | relative_url }}' type='text/css' rel='stylesheet'>
        <link rel="icon" type="image/x-icon" href="/favicon.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        {% feed_meta %}
        {% seo %}
        {% if page.use_recaptcha %}
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        {% endif %}
    </head>
    
    {% include site_header.html %}
    
    {{content}}
</html>