---
layout: default
---
<div class='level-banner-container' style='background-image: url({{page.sky_image_path | relative_url}})'>
    <h1>{{page.title}}</h1>
    <h1>{{page.score}} / 5</h1>
</div>

<div id='level-content'>
    {% assign contentArray = page.content | markdownify | split: site.excerpt_separator %}

    <h3>Aesthetics: {{page.art}} / 5</h3>
    <p class='editable'>{{ contentArray[0] }}</p>
    <hr>

    <h3>Setting: {{page.setting}} / 5</h3>
    <p class='editable'>{{ contentArray[1] }}</p>
    <hr>

    <h3>Quests: {{page.gameplay}} / 5</h3>
    <p class='editable'>{{ contentArray[2] }}</p>
    <hr>

    <h3>Overall: {{page.score}} / 5</h3>
    <p class='editable'>{{ contentArray[3] }}</p>
</div>

<a class='editor-link' href="cloudcannon:#title">Edit level title</a><br>
<a class='editor-link' href="cloudcannon:#score">Edit overall rating</a>

