---
layout: default
---

<div class='level-banner-container' style='background-image: url({{page.sky_image_path | relative_url}})'>
    <h1 data-cms-editor-link="cloudcannon:#title">{{page.title}}</h1>
    <h1>{{page.score}} / 5</h1>
</div>

<div id='level-content'>

    <h3>Aesthetics: {{page.art}} / 5</h3>
    <p class='editable'></p>
    <hr />

    <h3>Setting: {{page.setting}} / 5</h3>
    <p class='editable'>
        This is a level where Spyro very clearly helps out the world&rsquo;s natives, unlike worlds like <a href="/levels/Glimmer.html">Glimmer</a>. As you progress through the level, you fill it back up with water for your thirsty seahorse friends. This also changes the platforming dynamics of the level as you go, which is awesome. By the end of the level, the entire world is swimmable, and you can reach all sorts of new stuff.
    </p>
    <hr />

    <h3>Quests: {{page.gameplay}} / 5</h3>
    <p class='editable'>
        Water levels are notorious for being unfun, but Aquaria Towers is an exception. The tower quest is a <em>little</em> tedious, although it gives some meaning to the towers you pass by throughout the level. Hunter&rsquo;s manta riding quests are pretty fun.<br />&nbsp;
    </p>
    <hr />

    <h3>Overall: {{page.score}} / 5</h3>
    <p class='editable'>
        On the whole, Aquaria Towers is pretty sweet (especially for a water level).
    </p>
</div>


